/* Coolors Exported Palette - coolors.co/b80c09-3c6478-fbfbff-0c120c-6d7275 */

/* HSL */
$color1: hsla(1%, 91%, 38%, 1);
$color2: hsla(200%, 33%, 35%, 1);
$color3: hsla(240%, 100%, 99%, 1);
$color4: hsla(120%, 20%, 6%, 1);
$color5: hsla(203%, 4%, 44%, 1);

/* RGB */
$color1: rgba(184, 12, 9, 1);
$color2: rgba(60, 100, 120, 1);
$color3: rgba(251, 251, 255, 1);
$color4: rgba(12, 18, 12, 1);
$color5: rgba(109, 114, 117, 1);



red: #b80c09;
blue; #3c6478;
white: #fbfbff;
black: #0c120c;
grey: #6d7275;